<div class="container">
  <br>

  <div fxLayout="row" fxLayoutAlign="end center" class="example-button-container">
    <button (click)="abrirModal()" mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <br>
  <table mat-table [dataSource]="lista" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID</th>
      <td mat-cell *matCellDef="let livro"> {{livro.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome do Livro </th>
      <td mat-cell *matCellDef="let livro"> {{livro.nome}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="autor">
      <th mat-header-cell *matHeaderCellDef> Autor </th>
      <td mat-cell *matCellDef="let livro"> {{livro.autor}} </td>
    </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let livro"> {{livro.categoria}} </td>
      </ng-container>
  
    <!-- Symbol Column -->
    <!-- <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef> Descrição </th>
      <td mat-cell *matCellDef="let livro"> {{livro.descricao}} </td>
    </ng-container> -->

    <!-- Position Column -->
    <ng-container matColumnDef="conf">
      <th mat-header-cell *matHeaderCellDef> Configuração </th>
      <td mat-cell *matCellDef="let livro"> 
        <mat-icon>delete</mat-icon>  
        <mat-icon>edit</mat-icon>  
        <mat-icon>visibility</mat-icon>  
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>